ARC_RPC_URL=https://rpc.testnet.arc.io
ARC_CHAIN_ID=5042002
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=stash
DATABASE_USER=stash
DATABASE_PASSWORD=changeme
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=changeme-use-a-strong-random-secret
JWT_EXPIRY=7d
CORS_ORIGIN=http://localhost:3000
SIWE_DOMAIN=localhost:3000
SIWE_URI=http://localhost:3000
PORT=3001
STASH_VAULT_ADDRESS=0xe6d9501F8E13c250247F8E8541828A3fF893774a
STASH_CREDIT_ADDRESS=0xB382C9bDe9e2d74a6207e61F73f7E9E22044171D
STASH_ROUTER_ADDRESS=0x4eCa1a1567cb17eB87A3293D135FfA4E79bF3E97
STASH_LIQUIDATION_ADDRESS=0x7d5Be00915195930195869b38fBe0b8ED60B0ba2
